<div class="loading-bar" *ngIf="show === false">
  <button #buttonClick class="teste" (click)="displayPage()">aaaaaaaaa</button>
  <mat-progress-bar  mode="query"></mat-progress-bar>
</div>
<form [formGroup]="form" *ngIf="show === true">
  <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input type="text"   formControlName="descricao" name="descricao" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Código Sequencial</mat-label>
      <input  name="codigo_sequencial"  formControlName="codigo_sequencial" type="text" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input  name="valor" type="text"   formControlName="valor" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Estoque</mat-label>
      <input  name="estoque" type="text"   formControlName="estoque" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Código de Barras</mat-label>
      <button mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      <input type="text" readonly matInput  />
      <input
          name="codigo_de_barras"
          formControlName="codigo_de_barras"
          type="file"
          multiple
          hidden
          #f_input
          (change)="onFileSelect($event)"
          />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Imagens</mat-label>
      <button mat-icon-button matPrefix (click)="f_inpunt_multi.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      <input type="text" readonly matInput  />
      <input
          formControlName="imagens"
          name=""
          type="file"
          multiple
          hidden
          #f_inpunt_multi
          (change)="onFilesSelect($event)"
          />
    </mat-form-field>
  <button [disabled]="!form.valid" (click)="editarProduto()" mat-raised-button>Editar</button>
</form>
