<form [formGroup]="form">
  <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input type="text" formControlName="descricao" name="descricao" class="loginInput" matInput>
    </mat-form-field>
  <mat-form-field appearance="fill">
      <mat-label>Código Sequencial</mat-label>
      <input type="text" formControlName="codigo_sequencial" name="codigo_sequencial" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input type="text" formControlName="valor" name="valor" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Estoque</mat-label>
      <input type="text" formControlName="estoque" name="estoque" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Código de Barras</mat-label>
      <button mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      <input type="text" readonly matInput  />
      <input
          type="file"
          multiple
          hidden
          #f_input
          (change)="onFileSelect($event)"
          />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Imagens</mat-label>
      <button mat-icon-button matPrefix (click)="f_inpunt_multi.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      <input type="text" readonly matInput  />
      <input
          type="file"
          multiple
          hidden
          #f_inpunt_multi
          (change)="onFilesSelect($event)"
          />
    </mat-form-field>
  <button (click)="cadastrarProduto()" mat-raised-button>Cadastrar Produto</button>

</form>
