<div class="loading-bar" *ngIf="!show">
    <button #buttonClick class="teste" (click)="calculaCarrinho()">aaaaaaaaa</button>
    <mat-progress-bar  mode="query"></mat-progress-bar>
  </div>
  <div *ngIf="show" class="father-card">
    <div class="pesquisar-produto">
      <input id="pesquisa-input" [(ngModel)]="pesquisaInput" name="email" (ngModelChange)="filtrarProdutos($event)" matInput placeholder="Pesquisar Produto" value="">
    </div>
    <h2>Produtos</h2>
  </div>
  <div class="container" *ngIf="show">
    <mat-grid-list  class="carrinho-grid-mobile" cols="1"  rowHeight="380px" [gutterSize]="'10px'">
      <p-dialog header="Gerar QRCode" [(visible)]="display" [style]="{width: '90vw', height: '90vw'}">
        <ul>
          <li><h3>ID da compra: </h3> <b>{{vendaId}}-pix</b></li>
          <li><h3>Valor da compra: </h3><b>R$: {{valor_total}}</b></li>
          <div class="loading" >
            <img  *ngIf="qrCode" [src]="qrCode" class="qrcode" /><br />
            <button mat-raised-button color="primary" #button2Click class="qrcode-button" (click)="displayDialog()">Gerar QR Code</button>
         
          </div>
        </ul>  
    </p-dialog>
      <p-dialog header="Imagens do Produto" [(visible)]="img" [style]="{width: '60vw', height: '60vw'}">
        <div    class="carousel">
          <div class="loading-bar-popup" *ngIf="!show">    
            <button #button3Click  class="teste" (click)="attState()">hidden</button>
            <mat-progress-bar   class="loading-popup" mode="query"></mat-progress-bar>
          </div>
      
          <p-carousel *ngIf="showLoading === true"   [value]="imagens"  [autoplayInterval]="2000" [circular]="true" >
            <ng-template pTemplate="header">
            </ng-template>
            <ng-template  let-imagem pTemplate="item">
            <img  class="imgs" [src]="imagem"/>
            <div *ngIf="showLoading === true" class="car-buttons mt-5">
          </div>
          </ng-template>
          
        </p-carousel>
      </div>
    </p-dialog>
      <mat-grid-tile class="carrinho-tile">
        <div class="carrinho">
          <div class="class">
            <mat-icon style="width: 100px; height: 100px;" class="shopping-cart-icon">shopping_cart</mat-icon>
            <ul *ngFor="let item of carrinho">
              <li>
               <b>Descrição: </b>{{ item.produto.descricao }}<br />
               <b>Código Sequencial: </b>  {{ item.produto.codigo_sequencial }} <br />
               <b>Valor:</b>  {{ item.produto.valor  * item.quantidade }} <br />
               <b>Quantidade: </b>  {{ item.quantidade }} <br />
                <button mat-raised-button (click)="removeItemCarrinho(item.produto._id)" class="remover-item-carrinho" color="primary" >Remover Produto</button> <br />
              </li>
            </ul>        
            <div class="carrinho-valor">Valor Total: {{ valor_total }}</div>
          </div>
        </div>
        
      </mat-grid-tile>
      
    </mat-grid-list>
    <button mat-raised-button class="limpar-carrinho-mobile" (click)="limparCarrinho()" color="primary" >Limpar Carrrinho</button>
    <button mat-raised-button class="limpar-carrinho-mobile" (click)="limparCarrinho()" color="primary" >Finalizar Compra</button>
  
  </div>
    <div *ngIf="show === true"  class="produtos-card-group">
      <mat-card class="produto-card">
        <mat-grid-list cols="1"  rowHeight="380px" [gutterSize]="'20px'">
          <mat-grid-tile   *ngFor="let produto of produtos" >  
           <div>
            <div class="produto-item"><div class="produto-item-title">Código Sequencial:</div> <div class="item-value">{{ produto.codigo_sequencial }}</div></div>
            <div class="produto-item"><div class="produto-item-title">Descrição:</div>  <div class="item-value" >{{ produto.descricao }}</div></div>
            <div class="produto-item"><div class="produto-item-title">Valor:</div> <div class="item-value">{{ produto.valor }}</div></div>
            <div class="produto-item"><div class="produto-item-title">Estoque:</div> <div class="item-value">{{ produto.estoque }}</div></div>
            <button mat-raised-button color="primary" (click)="addProduto(produto)">Adicionar Produto</button>
            <button mat-raised-button color="primary" (click)="displayImagens(produto)">Imagens</button>
             <img class="produto-item" id="codigo_de_barras"  [src]="codigo_de_barras"/>
            </div>   
            <div class="container"  >
              <p-dialog header="Gerar QRCode" [(visible)]="display" [style]="{width: '50vw', height: '40vw'}">
                <ul>
                  <li><h3>ID da compra: </h3> <b>{{vendaId}}-pix</b></li>
                  <li><h3>Valor da compra: </h3><b>R$: {{valor_total}}</b></li>
                  <div class="loading" >
                    <img  *ngIf="qrCode" [src]="qrCode" class="qrcode" /><br />
                    <button mat-raised-button color="primary" #button2Click class="qrcode-button" (click)="displayDialog()">Gerar QR Code</button>
                 
                  </div>
                </ul>  
            </p-dialog>
            <div class="cover">
              <p-dialog class="dialog-img" header="Imagens do Produto" [(visible)]="img" [style]="{width: '60vw', height: '40vw'}">
                <div    class="carousel">
                  <div class="loading-bar-popup" *ngIf="showLoading === false">    
                    <button #button3Click  class="teste" (click)="attState()">hidden</button>
                    <mat-progress-bar  class="loading-popup" mode="query"></mat-progress-bar>
                  </div>
                  <p-carousel *ngIf="showLoading === true"   [value]="imagens"  [autoplayInterval]="2000" [circular]="true" >
                    <ng-template pTemplate="header">
                    </ng-template>
                    <ng-template  let-imagem pTemplate="item">
                    <img  class="imgs" [src]="imagem"/>
                    <div *ngIf="showLoading === true" class="car-buttons mt-5">
                  </div>
                  </ng-template>
                  
                </p-carousel>
              </div>
            </p-dialog>
            </div>
          </div>
          </mat-grid-tile> 
        </mat-grid-list> 
        
      </mat-card>
     
      <div class="container">
        <mat-grid-list class="carrinho-grid" cols="1"  rowHeight="380px" [gutterSize]="'10px'">
          <mat-grid-tile class="carrinho-tile">
            <div class="carrinho">
              <div class="class">
                <mat-icon style="width: 100px; height: 100px;" class="shopping-cart-icon">shopping_cart</mat-icon>
                <ul *ngFor="let item of carrinho">
                  <li>
                   <b>Descrição: </b>  {{ item.produto.descricao }}<br />
                   <b>Código Sequencial: </b>  {{ item.produto.codigo_sequencial }} <br />
                   <b>Valor:</b>  {{ item.produto.valor  * item.quantidade }} <br />
                   <b>Quantidade: </b>  {{ item.quantidade }} <br />
                    <button mat-raised-button (click)="removeItemCarrinho(item.produto._id)" class="remover-item-carrinho" color="primary" >Remover Produto</button> <br />
                  </li>
                </ul>   
                <div class="carrinho-valor">Valor Total: {{ valor_total }}</div>
              </div>
            </div>
            
          </mat-grid-tile>
          
        </mat-grid-list>
        <button mat-raised-button class="limpar-carrinho" (click)="limparCarrinho()" color="primary" >Limpar Carrrinho</button>
        <button mat-raised-button class="limpar-carrinho" (click)="finalizarCompra()" color="primary" >Finalizar Compra</button>
  
        <mat-card class="produto-card-mobile">
          <mat-grid-list cols="1" rowHeight="380px" [gutterSize]="'20px'">
           <mat-grid-tile   *ngFor="let produto of produtos">  
              <div>
              
              <div class="produto-item"><div class="produto-item-title">Código Sequencial:</div> <div class="item-value">{{ produto.codigo_sequencial }}</div></div>
              <div class="produto-item"><div class="produto-item-title">Descrição:</div>  <div class="item-value" >{{ produto.descricao }}</div></div>
              <div class="produto-item"><div class="produto-item-title">Valor:</div> <div class="item-value">{{ produto.valor }}</div></div>
              <button mat-raised-button color="primary" (click)="addProduto(produto)">Adicionar Produto</button>
              <button mat-raised-button color="primary" (click)="displayImagens(produto)">Imagens</button>
               <img class="produto-item" id="codigo_de_barras"  [src]="codigo_de_barras"/>
              </div>   
            </mat-grid-tile> 
          </mat-grid-list> 
        </mat-card>
      </div>
    </div>