<div class="class">
    <div class="form-group">
      <h2>Produtos</h2>
    </div>
    <ul *ngFor="let produto of vendaProdutos">
      <div class="produto-lista"> 
        <li> <b>ID:</b> {{ produto.produto._id }} </li>
        <li> <b>Descrição:</b> {{ produto.produto.descricao }}</li>
        <li> <b>Código Sequencial:</b> {{ produto.produto.codigo_sequencial }} </li>
        <li> <b>Estoque:</b> {{ produto.produto.estoque }} </li>
        <li> <b>Valor:</b> {{ produto.produto.valor }} </li>
        <li> <b>Quantidade:</b> {{ produto.quantidade }} </li>
      </div>
      <button class="display" mat-raised-button color="primary" (click)="displayDialog(produto.produto)">Imagens</button><br /><br />
      <p-dialog header="Imagens do Produto" [(visible)]="display" [style]="{width: '60vw', height: '50vw'}">
        <div    class="carousel">
          <div class="loading-bar" *ngIf="show === false">    
            <button #buttonClick  class="teste" (click)="displayPage()">hidden</button>
            <mat-progress-bar  mode="query"></mat-progress-bar>
          </div>
          <p-carousel *ngIf="show === true"   [value]="imagens"  [autoplayInterval]="2000" [circular]="true" >
            <ng-template pTemplate="header">
            </ng-template>
            <ng-template  let-imagem pTemplate="item">
            <img  class="imgs" [src]="imagem"/>
            <div class="car-buttons mt-5">
          </div>
          </ng-template>
          
        </p-carousel>
      </div>
    </p-dialog>
    </ul>
  </div>