<div class="loading-bar" *ngIf="show === false">
  <button #buttonClick class=".teste" (click)="displayPage()">aaaaaaaaa</button>
  <mat-progress-bar  mode="query"></mat-progress-bar>
</div>
  <div class="father-card">
    <h2>Usuários</h2>
  </div>
  <div  *ngIf="show === true"  class="container">
  </div>
    <div  *ngIf="show === true"    class="usuarios-card-group">
      <mat-card class="usuario-card">
        <mat-grid-list cols="1" rowHeight="380px" [gutterSize]="'20px'">
         <mat-grid-tile   *ngFor="let usuario of usuarios">  
            <div>  
            <div class="usuario-item"><div class="usuario-item-title">Nome:</div> <div class="item-value">{{ usuario.nome }}</div></div>
            <div class="usuario-item"><div class="usuario-item-title">Nickname:</div>  <div class="item-value" >{{ usuario.nickname }}</div></div>
            <div class="usuario-item"><div class="usuario-item-title">Nivel de Acesso:</div> <div class="item-value">{{ usuario.nivel_de_acesso }}</div></div>
            <div class="usuario-item"><div class="usuario-item-title">E-mail:</div> <div class="item-value">{{ usuario.email }}</div></div>
            <div class="usuario-item"><div class="usuario-item-title">Documento:</div> <div class="item-value">{{ usuario.documento }}</div></div>
            <div class="usuario-item"><div class="usuario-item-title">Status:</div> <div class="item-value">{{ usuario.status }}</div></div>
            <button mat-raised-button color="primary" *ngIf="adminLogged == true"  (click)="editar(usuario)">Editar usuario</button>
            <button mat-raised-button color="warn"   *ngIf="usuario.status != 'inativo' && adminLogged == true" (click)="desativar(usuario._id)" >Desativar usuario</button>
            <button mat-raised-button color="primary" *ngIf="usuario.status == 'inativo' && adminLogged == true" (click)="ativar(usuario._id)" >Ativar usuario</button>
            </div>   
            <div class="carousel">
            </div>
          </mat-grid-tile> 
        </mat-grid-list>   
      </mat-card>
      <div class="father-mobile">
        
        <mat-card class="usuario-card-mobile">
          <mat-grid-list cols="1" rowHeight="380px" [gutterSize]="'20px'">
           <mat-grid-tile   *ngFor="let usuario of usuarios">  
              
              <div> 
                <div class="usuario-item"><b>Código Sequencial: </b>
                 {{ usuario.codigo_sequencial }}</div>
                 <div class="usuario-item"><b>Descrição: </b>
                  {{ usuario.descricao }}</div> 
                  <div class="usuario-item"><b>Valor: </b>
                    {{ usuario.valor }}</div>
              
                <button mat-raised-button color="primary" >Editar usuario</button>
                <button mat-raised-button color="warn">Deletar usuario</button>
            
                 <div class="carousel">
       
                       </div>
              </div>
           <!--   <div class="container">
                <div class="img-list" *ngFor="let imagem of usuario.imagens_loaded"> 
                    <img class="imgs" [src]="imagem"/>
                </div>  
              </div>-->
            </mat-grid-tile> 
          </mat-grid-list>   
        </mat-card>
      </div>
    </div>