@import "~@angular/material/prebuilt-themes/indigo-pink.css";

form {
    display: flex;
    flex-direction: column;
}
  
:host {
      padding-top: 34px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-center;
      justify-content: center;
      background-color: white;
      border-radius: 4%;
      text-align: center;
      min-height: 500px;
      width: 60%;
      margin: 0 auto;
      -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
}
    
mat-form-field {
    width: 50%;
    margin: 0 auto;
}
    
button {
    width: 30%;
    margin: 0 auto;
}
    
button:hover {
    background-color: rgb(248, 245, 245);
    -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
    -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
    box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
}
  

@media screen and (max-width: 820px) and (min-width: 415px) {
    :host {
        display: flex;
        flex-direction: column;
        align-items: flex-center;
        justify-content: center;
        background-color: white;
        border-radius: 4%;
        height: 700px;
        overflow-y: scroll;
        text-align: center;
        min-height: 500px;
        width: 80%;
        margin: 0 auto;
        -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
      
  mat-form-field {
      width: 70%;
      margin: 0 auto;
  }
      
  button {
      width: 30%;
      margin: 0 auto;
  }
      
  button:hover {
      background-color: rgb(248, 245, 245);
      -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
    
  }

  @media all and (max-width: 600px) {
    :host {
        display: flex;
        flex-direction: column;
        align-items: flex-center;
        justify-content: center;
        background-color: white;
        border-radius: 4%;
        text-align: center;
        min-height: 350px;
        width: 60%;
        margin: 0 auto;
        -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
      
  mat-form-field {
      width: 70%;
      margin: 0 auto;
  }
      
  button {
      width: 30%;
      margin: 0 auto;
  }
      
  button:hover {
      background-color: rgb(248, 245, 245);
      -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
    
  }


  @media screen and (max-width: 1024px) and (min-width: 415px) {
    :host {
        display: flex;
        flex-direction: column;
        align-items: flex-center;
        justify-content: center;
        background-color: white;
        border-radius: 4%;
        max-height: 700px;
        overflow-y: scroll;
        text-align: center;
        min-height: 500px;
        width: 80%;
        margin: 0 auto;
        -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
      
  mat-form-field {
      width: 70%;
      margin: 0 auto;
  }
      
  button {
      width: 30%;
      margin: 0 auto;
  }
      
  button:hover {
      background-color: rgb(248, 245, 245);
      -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
    
  }

  @media screen and (max-width: 414px) {
    :host {
        display: flex;
        flex-direction: column;
        align-items: flex-center;
        justify-content: center;
        background-color: white;
        margin-top: 14px;
        border-radius: 4%;
        height: 700px;
        overflow-y: scroll;
        text-align: center;
        min-height: 500px;
        width: 400px;
        margin: 0 auto;
        -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
        box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
      
  mat-form-field {
      width: 80%;
      margin: 0 auto;
  }
      
  button {
      width: 30%;
      margin: 0 auto;
  }
      
  button:hover {
      background-color: rgb(248, 245, 245);
      -webkit-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      -moz-box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
      box-shadow: 9px 7px 31px 4px rgba(0,0,0,0.47);
  }
    
  }
