<form [formGroup]="form">
  <mat-form-field id="first" appearance="fill">
      <mat-label>Data da Venda</mat-label>
      <input  name="data_da_venda"  formControlName="data_da_venda" type="text" class="loginInput" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Valor Total</mat-label>
      <input  name="valor_total" type="text"   formControlName="valor_total" class="loginInput" matInput>
    </mat-form-field>
    <app-listar-venda-produtos [vendaProdutos]="vendaProdutos"></app-listar-venda-produtos>
    <button  [disabled]="!form.valid" (click)="editarVenda()" mat-raised-button>Editar</button>
</form>  
