<div class="loading-bar" *ngIf="show === false">
  <button #buttonClick class=".teste" (click)="displayPage()">aaaaaaaaa</button>
  <mat-progress-bar  mode="query"></mat-progress-bar>
</div>
 <div *ngIf="show === true" class="father-card">
      <h2>Vendas</h2>
    </div>
    <div class="container">
    </div>
      <div *ngIf="show === true"  class="vendas-card-group">
        <mat-card class="venda-card">
          <mat-grid-list cols="1" rowHeight="380px" [gutterSize]="'20px'">
           <mat-grid-tile   *ngFor="let venda of vendas">  
              <div>
              
              <div class="venda-item"><div class="venda-item-title">Vendedor:</div> <div class="item-value">{{ venda.funcionario?.nome }}</div></div>
              <div class="venda-item"><div class="venda-item-title">status:</div>  <div class="item-value" >{{ venda.funcionario?.nivel_de_acesso }}</div></div>
              <div class="venda-item"><div class="venda-item-title">Data da venda:</div> <div class="item-value">{{ venda.data_da_venda }}</div></div>
              <div class="venda-item"><div class="venda-item-title">Valor:</div> <div class="item-value">R$: {{ venda.valor_total }}</div></div>
              <button mat-raised-button (click)="editar(venda)" color="primary">Editar venda</button>
            </div>   
            <div class="carousel">
              <app-listar-produtos-da-venda *ngIf="venda.lista_de_produtos?.length > 0" [vendaProdutos]="venda.lista_de_produtos"></app-listar-produtos-da-venda>
              </div>
            </mat-grid-tile> 
          </mat-grid-list>   
        </mat-card>
        <div class="father-mobile">
          <mat-card class="venda-card-mobile">
            <mat-grid-list cols="1" rowHeight="380px" [gutterSize]="'20px'">
             <mat-grid-tile   *ngFor="let venda of vendas">         
                <div class="container"> 
                  <div class="venda-item"><b>Código Sequencial: </b>
                   {{ venda.codigo_sequencial }}</div>
                   <div class="venda-item"><b>Descrição: </b>
                    {{ venda.descricao }}</div> 
                    <div class="venda-item"><b>Valor: </b>
                      {{ venda.valor_total }}
                    </div>
                    <div class="venda-item">
                      <button mat-raised-button (click)="editar(venda)" color="primary" >Editar venda</button>            
                    </div>
                    <div class="venda-item" id="item-produtos">
                      <app-listar-produtos-da-venda *ngIf="venda.lista_de_produtos?.length > 0" [vendaProdutos]="venda.lista_de_produtos"></app-listar-produtos-da-venda>
                    </div>                    
                </div>
              </mat-grid-tile> 
            </mat-grid-list>   
          </mat-card>
        </div>
      </div>